
<ion-pane>
  <ion-content class="town">

    <div class="row">
      <div class="col">
        <img src="img/small-logo.png" alt="" />
      </div>
      <div class="col">
      </div>
      <div class="col-30">
        <townlist sc='townname' style="line-height: 21px;"></townlist>
      </div>
    </div>
    <div class="row icon-row">
      <div class="col icon">
        <img src="img/icon-sample.png" alt="" />
        <span class="caption">TEXT</span>
      </div>
      <div class="col icon">
        <img src="img/icon-sample.png" alt="" />
        <span class="caption">TEXT</span>
      </div>
      <div class="col icon">
        <img src="img/icon-sample.png" alt="" />
        <span class="caption">TEXT</span>
      </div>


    </div>
    <div class="row icon-row">
      <div class="col icon">
        <img src="img/icon-sample.png" alt="" />
        <span class="caption">TEXT</span>
      </div>
      <div class="col icon">
        <img src="img/icon-sample.png" alt="" />
        <span class="caption">TEXT</span>
      </div>
      <div class="col icon">
        <img src="img/icon-sample.png" alt="" />
        <span class="caption">TEXT</span>
      </div>
    </div>

    <div class="row">
      <div class="col-50 town-name">
        {{town_name}}
      </div>
      <div class="col-50 near-by" style="text-align: right;padding-right:10px">
        near by
      </div>
    </div>
    <div class="row icon-big-row">
      <div class="col icon">
        <img src="img/big-icon-sample.png" alt="" />
        <span class="caption">TEXT</span>
      </div>
      <div class="col icon">
        <img src="img/big-icon-sample.png" alt="" />
        <span class="caption">TEXT</span>
      </div>
      <div class="col icon">
        <img src="img/big-icon-sample.png" alt="" />
        <span class="caption">TEXT</span>
      </div>
      <div class="col icon">
        <img src="img/big-icon-sample.png" alt="" />
        <span class="caption">TEXT</span>
      </div>

    </div>
    <div class="row icon-big-row">
      <div class="col icon">
        <img src="img/big-icon-sample.png" alt="" />
        <span class="caption">TEXT</span>
      </div>
      <div class="col icon">
        <img src="img/big-icon-sample.png" alt="" />
        <span class="caption">TEXT</span>
      </div>
      <div class="col icon">
        <img src="img/big-icon-sample.png" alt="" />
        <span class="caption">TEXT</span>
      </div>
      <div class="col icon">
        <img src="img/big-icon-sample.png" alt="" />
        <span class="caption">TEXT</span>
      </div>
    </div>
    <div class="row icon-big-row">
      <div class="col icon">icon</div>
      <div class="col icon">icon</div>
      <div class="col icon">icon</div>
      <div class="col icon">icon</div>
    </div>
    <div class="row icon-big-row">
      <div class="col icon">icon</div>
      <div class="col icon">icon</div>
      <div class="col icon">icon</div>
      <div class="col icon">icon</div>
    </div>
    <div class="row icon-big-row">
      <div class="col icon">icon</div>
      <div class="col icon">icon</div>
      <div class="col icon">icon</div>
      <div class="col icon">icon</div>
    </div>
  </ion-content>

</ion-pan>
