
<ion-pane>
  <ion-content>
    <img class="small-logo" src="img/big-logo.png" width="80" alt="" />
    <div class="towns">
      <div class="row">
        <div class="title">{{welcom | capitalize}}</div>
      </div>
      <div class="row">
        <div class="title">{{full_name}}</div>
      </div>
      <div class="row">
        <div class="title2">
           {{slogon | capitalize }}
        </div>
      </div>
      <div class="row">
        <div class="title listTowns">
          <townlist></townlist>
        </div>
      </div>
      <input type="file" id="file1" name="file" multiple
           ng-files="getTheFiles($files)" />

       <input type="button" ng-click="uploadFiles()" value="Upload" />

    </div>
  </ion-content>
</ion-pane>
