
<ion-pane>
  <ion-content class="town">

    <div class="row">
      <div class="col">
        <img src="img/small-logo.png" alt="" />
      </div>
      <div class="col">
      </div>
      <div class="col-30">
        <townlist sc='townname' style="line-height: 21px;"></townlist>
      </div>
    </div>
    <div class="row">
      <div class="col col-75 town-name">
        {{town_name}}
      </div>
      <div class="col near-by row" style="text-align: right;padding-right:10px">
        <img src="img/near-by.png" alt="" />
        <span style="vertical-align: 6px;">{{lang.near}}</span>

      </div>
    </div>
    <div class="row icon-row">
      <div class="col big-icon">
        <img src="img/icon.png" alt="" />
      </div>
      <div class="col big-icon">
        <img src="img/events.png" alt="" />
      </div>
      <div class="col big-icon">
        <img src="img/video.png" alt="" />
      </div>
    </div>
    <div class="row icon-row">
      <div class="col big-icon">
        <img src="img/oman.png" alt="" />
      </div>
      <div class="col big-icon">
        <img src="img/near-by.png" alt="" />
      </div>
      <div class="col big-icon">
        <img src="img/police.png" alt="" />
      </div>
    </div>

 <ion-scroll zooming="false" direction="y" style="height:400px;background: rgba(0,0,0,0.2);">
   <div class="row icon-big-row">
     <div class="col icon" ng-click="cat(0)">
       <figure>
           <img src='img/bank.png' alt='missing' />
           <figcaption>{{lang.banks}}</figcaption>
       </figure>
     </div>
     <div class="col icon"  ng-click="cat(1)">
       <figure>
           <img src='img/airline.png' alt='missing' />
           <figcaption>{{lang.airlines}}</figcaption>
       </figure>
     </div>
     <div class="col icon" ng-click="cat(2)">
       <figure>
           <img src='img/hospital.png' alt='missing' />
           <figcaption>{{lang.hospitals}}</figcaption>
       </figure>
     </div>
     <div class="col icon" ng-click="cat(3)">
       <figure>
           <img src='img/hotels.png' alt='missing' />
           <figcaption>{{lang.resortshotels}}</figcaption>
       </figure>
     </div>

   </div>
   <div class="row icon-big-row">
     <div class="col icon" ng-click="cat(4)">
       <figure>
           <img src='img/transfer.png' alt='missing' />
           <figcaption>{{lang.exchangetransfer}}</figcaption>
       </figure>
     </div>
     <div class="col icon" ng-click="cat(5)">
       <figure>
           <img src='img/tours.png' alt='missing' />
           <figcaption>{{lang.traveltoursim}}</figcaption>
       </figure>
     </div>
     <div class="col icon" ng-click="cat(6)">
       <figure>
           <img src='img/pharma.png' alt='missing' />
           <figcaption>{{lang.pharmacy}}</figcaption>
       </figure>
     </div>
     <div class="col icon" ng-click="cat(7)">
       <figure>
           <img src='img/flat.png' alt='missing' />
           <figcaption>{{lang.flatsappartements}}</figcaption>
       </figure>
     </div>

   </div>
   <div class="row icon-big-row">
     <div class="col icon" ng-click="cat(8)">
       <figure>
           <img src='img/resto.png' alt='missing' />
           <figcaption>{{lang.resturantcoffe}}</figcaption>
       </figure>
     </div>
     <div class="col icon" ng-click="cat(9)">
       <figure>
           <img src='img/clinic.png' alt='missing' />
           <figcaption>{{lang.clinic}}</figcaption>
       </figure>
     </div>
     <div class="col icon" ng-click="cat(10)">
       <figure>
           <img src='img/mall.png' alt='missing' />
           <figcaption>{{lang.shoppingmall}}</figcaption>
       </figure>
     </div>
     <div class="col icon" ng-click="cat(11)">
       <figure>
           <img src='img/jewlry.png' alt='missing' />
           <figcaption>{{lang.jewelery}}</figcaption>
       </figure>
     </div>

   </div>
   <div class="row icon-big-row">
     <div class="col icon" ng-click="cat(12)">
       <figure>
           <img src='img/halwa.png' alt='missing' />
           <figcaption>{{lang.omanisweet}}</figcaption>
       </figure>
     </div>
     <div class="col icon" ng-click="cat(13)">
       <figure>
           <img src='img/sliver.png' alt='missing' />
           <figcaption>{{lang.silverware}}</figcaption>
       </figure>
     </div>
     <div class="col icon" ng-click="cat(14)">
       <figure>
           <img src='img/car-rent.png' alt='missing' />
           <figcaption>{{lang.carrent}}</figcaption>
       </figure>
     </div>
     <div class="col icon" ng-click="cat(15)">
       <figure>
           <img src='img/parfum.png' alt='missing' />
           <figcaption>{{lang.parfume}}</figcaption>
       </figure>
     </div>

   </div>
   <div class="row icon-big-row">
     <div class="col icon" ng-click="cat(1)">
       <figure>
           <img src='img/honey.png' alt='missing' />
           <figcaption>{{lang.honeydate}}</figcaption>
       </figure>
     </div>
     <div class="col icon" ng-click="cat(1)">
       <figure>
           <img src='img/antic.png' alt='missing' />
           <figcaption>{{lang.antiques}}</figcaption>
       </figure>
     </div>
     <div class="col icon" ng-click="cat(1)">
       <figure>
           <img src='img/weaving.png' alt='missing' />
           <figcaption>{{lang.weaving}}</figcaption>
       </figure>
     </div>
     <div class="col icon" ng-click="cat(1)">
       <figure>
           <img src='img/fran.png' alt='missing' />
           <figcaption>{{lang.frankincense}}</figcaption>
       </figure>
     </div>

   </div>
 </ion-scroll>



  </ion-content>

</ion-pan>
